<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Seja Bem vindo</title>
  <link rel="stylesheet" href="/Frontend/css/tela_Inicio.css">

</head>

<body>
  <div class="container">
    <!-- Conteúdo Principal -->
    <div class="main-content">
      <header>
        <div class="titulo">
          <h1>Colégio Militar de Brasília</h1><br>
          <h3>Sistema de Arquivo de Pastas Digital</h3><br>
          <h3>Escolha uma das opções abaixo</h3><br>
          <div class="img_CMB">
                    <img src="/Frontend/img/brasao_CMB.jpeg" alt="" />
                </div>
        </div>
      </header>

      <!-- Container de Opções -->
      <div class="form-Options" id="formOptions">
        <div class="options-container">
          <a href="/Frontend/templates/formCadastro.html" class="option-button cadastrar">
            📝 Cadastrar
          </a>

          <a href="/Frontend/templates/consulta.html" class="option-button consultar">
            🔍 Consultar
          </a>
          <a href="/Frontend/templates/estatistica.html" class="option-button estatistica">
            📊 Estatística
          </a>
          
          <a href="/Frontend/templates/editar.html" class="option-button editar">
            ✏️ Editar
          </a>

          <a href="/Frontend/templates/excluir.html" class="option-button excluir">
            ❌ Excluir
          </a>

          <a href="/public/" class="option-button validacao">
            ✅ Validação
          </a>
        </div>
      </div>
    </div>
  </div>
  <script src="/scripts/script.js"></script>
</body>

</html>